body {
  font-family: "Josefin Sans";
  background-color: #fffafb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

/* ::-webkit-scrollbar {
    width: 0px;
  } */

 
.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 500px;
  height: 600px;
  margin-left: 100px;
}

.hero-banner-img {
  position: absolute;
  right: 60px;
  top: 60px;
  height: 800px;
  width:600px;
}
.hero-banner-img1 {
  position: absolute;
  right:-70px;
  top: 60px;
  height: 700px;
}
.hero-banner-img2 {
  position: absolute;
  right: -70px;
  top: 60px;
  height: 700px;
}

.exercise-card {
  width: 350px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #ff2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.yoga-card{
  width: 350px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #ff2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  margin-bottom: 10px;
  
}

.yoga-img{
  width:"100px";
  height:"200px"
}

.exercise-card:hover,
.bodyPart-card:hover,
.yoga-card:hover {
  transform: scale(1.1, 1.1);
}
.search-btn {
  background-color: #ff2625 !important;
}

.search-btn:hover {
  color: #fff !important;
  border: 1px solid #ff2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

.bmi {
  background: linear-gradient(
    109.6deg,
    rgb(5, 12, 19) 99.2%,
    rgb(0, 0, 0) 0.1%
  );
  border-radius: 50px;
  
}

.input-bmi {
  color: "#fff";
}

.yoga-banner {
  position: absolute;
  right: 0px;
  top: 110px;
  height: 750px;
  width: 600px;
}


@media screen and (max-width: 1300px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}


@media  (max-width: 1400px) {
  .hero-banner-img,  
  .hero-banner-img1,  
    .hero-banner-img2, .yoga-banner  {
    display: none;
  }
}
